<p style="color: green"><%= notice %></p>

<h1>Friends</h1>
<table class="table table-dark">
<thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">contact</th>
      <th scope="col">show</th>
      <th scope="col">edit</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
<div id="friends">
  <% @friends.each do |friend| %>
    <tr>
    <td><%= friend.name %></td>  
    <td><%= friend.email %></td>  
    <td><%= friend.contact %></td>  
    <td><button type="button" class="btn btn-success"><%= link_to "Edit", edit_friend_path(friend) %></button></td>  
    <td><button type="button" class="btn btn-success"><%= link_to "Show", friend_path(friend) %></button></td>  
    <td><%= button_to "Destroy", friend, method: :delete %></td>  
  </tr>
  <% end %>
</tbody>
</table>
</div>